.FavoritesPage-scroll {
    height: 70vw;
    overflow: scroll;
    padding-bottom: 30vw;
    margin-top: 4vw;
}

.FavoritesPage-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 1vw;
}

.FavoritesPage-image {
    height: 25vw;
    width: 25vw;
}

.FavoritePage-content {
    display: flex;
    justify-content: space-between;
    
}

.FavoritePage-text {
    height: 30vw;
    width: 45vw;
    text-align: left;
    position: relative;
}

.FavoritePage-text h3 {
    font-size: 1.8vw;
}

button.delete {
    background-color: red;
    border: none;
    color: white;
    font-style: bold;
    position: absolute;
    bottom: 1vw;
}

button.delete:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.FavoritesPage-emphasize {
    color: #B89446;
    font-weight: bold;
}